# Intro

Based on David Hay's notebook found [here](https://github.com/callysto/basketball-and-data-science/blob/main/notebooks/03-cleaning-and-visualizing.ipynb).
- <david.hay@cybera.ca>
- Peter's [Colab copy](https://colab.research.google.com/drive/1YDCS85e1QLn2yayh9GzhTCdNfTIN1PXP?usp=sharing)

# Python Intro (Cursory)

*Prompt: Tell me why Python is a great language for learning about data analysis.*

Python is a great language for learning about data analysis for many reasons. Here are some of them:

- Python is **easy to learn** and **readable**. It has a simple and English-like syntax that makes it beginner-friendly and intuitive. You don't need to know a lot of technical details or math to start working with Python¬≤‚Å∂.
- Python is **versatile** and **flexible**. You can use it for many different purposes, such as web development, artificial intelligence, internet of things, etc. You can also write scripts, run interactive notebooks, or create applications with Python¬π¬≤.
- Python has a **huge collection of libraries** that can help you with data analysis. These are pre-written code packages that can handle common tasks, such as data manipulation, visualization, statistics, machine learning, etc. Some of the most popular libraries are Pandas, NumPy, Matplotlib, SciPy, Scikit-learn, and more¬π¬≤¬≥‚Åµ.
- Python has a **built-in data analytics tool** called Jupyter Notebook. This is an interactive environment where you can write and run Python code, display graphs and charts, document your findings, and share your work with others¬≥‚Åµ.

These are just some of the reasons why Python is a great choice for data analysis. Have fun! üòä

Source: Conversation with Bing, 2023-05-19

(1) Why Is Python a Great Choice For Data Analysis? - Ideamotive. https://www.ideamotive.co/blog/python-for-data-analysis.

(2) Python for Data Science - GeeksforGeeks. https://www.geeksforgeeks.org/python-for-data-science/.

(3) Why Python is Essential for Data Analysis? - Section. https://www.section.io/engineering-education/why-python-is-essential-for-data-analysis/.

(4) Why You Should Learn Python for Data Science & Analysis - Codecademy. https://www.codecademy.com/resources/blog/*why*-you-should-learn-python-for-data-science/.

(5) Learning Python for Data Analysis - Columbia Engineering Boot Camps. https://bootcamp.cvn.columbia.edu/blog/learning-python-for-data-analysis/.

(6) Why Python Is a Great Choice for Data Analysis - AlixaProDev. https://www.alixaprodev.com/why-python-is-a-great-choice-for-data-analysis/.

## TODO

- give examples of where Python can be run from (online and downloaded)
- create an example program that shows a working Python program that this tutorial will build up to.

# Libraries

*Prompt: Give some examples of common libraries and what they are used for.*

Python is a versatile and powerful programming language that has many libraries for different purposes. Some common Python libraries are:

- **Requests**¬π: This library makes it easy to send HTTP requests and interact with web APIs. You can use it to download files, scrape websites, or access online data sources.
- **NumPy**¬≥: This library provides fast and efficient numerical computing with arrays and matrices. You can use it to perform mathematical operations, linear algebra, statistics, or image processing.
- **Pandas**¬≥: This library offers data analysis and manipulation tools for working with tabular and structured data. You can use it to read, write, filter, sort, group, or reshape data from various formats such as CSV, Excel, JSON, or SQL.
- **Matplotlib**‚Å¥: This library is a 2-D plotting library that allows you to create various types of graphs and charts. You can use it to visualize data, explore trends, or communicate results.

Some Python libraries that might be worth investigating are:

- **PyGame**: This library is a framework for making video games in Python. You can use it to create interactive graphics, sound, animation, or user input for your own games.
- **Turtle**: This library is a module for drawing shapes and patterns using a virtual turtle. You can use it to learn programming concepts, create art, or have fun with geometry.
- **NLTK**: This library is a toolkit for natural language processing (NLP). You can use it to analyze text, extract information, generate sentences, or build chatbots.
- **OpenCV**: This library is a library for computer vision and machine learning. You can use it to process images, detect faces, recognize objects, or apply filters.

Here are some examples of how these libraries might be used:

- PyGame: You can make a simple game like Pong or Snake by using PyGame's sprites, surfaces, events, and sounds. You can also follow tutorials or online courses to learn how to make more complex games like Flappy Bird or Tetris.
- Turtle: You can draw shapes like circles, squares, triangles, or polygons by using Turtle's methods like forward(), backward(), left(), right(), or penup(). You can also use loops or functions to create patterns like spirals, stars, or fractals.
- NLTK: You can analyze text like tweets, reviews, or news articles by using NLTK's modules like tokenize(), tag(), chunk(), or sentiment(). You can also generate text like jokes, stories, or poems by using NLTK's models like ngrams(), markovify(), or gpt2().
- OpenCV: You can process images like selfies, memes, or cartoons by using OpenCV's functions like imread(), imshow(), cvtColor(), or resize(). You can also detect faces by using OpenCV's classifiers like haarcascade_frontalface_default.xml() or lbp_frontalface_improved.xml().

Source: Conversation with Bing, 2023-05-19

(1) 24 Best Python Libraries You Should Check in 2023 - Hackr. https://hackr.io/blog/best-python-libraries.

(2) Most Popular Python Packages in 2021 | LearnPython.com. https://learnpython.com/blog/most-popular-python-packages/.

(3) Top 8 Python Libraries for Data Visualization - GeeksforGeeks. https://www.geeksforgeeks.org/top-8-python-libraries-for-data-visualization/.

(4) The Python Standard Library ‚Äî Python 3.11.3 documentation. https://docs.python.org/3/library/index.html.


---

This code imports the Pandas library and gives it an alias of pd. Pandas is a 
Python module (library) that is used for data manipulation and analysis. By 
using pd, you can access the functions and methods of Pandas without typing the 
full name every time. For example, you can create a data frame with `pd.DataFrame()` instead of `pandas.DataFrame()`. This makes your code shorter and easier to read.

In [2]:
import pandas as pd

# Let's Get Some Data!

## TODO

Need overview here

This code uses the pd.read_html() function to read the HTML tables from the given URL and store them in a variable called page. The URL is a web page that contains the standings of the NBA teams for the 2022-2023 season. The pd.read_html() function returns a list of data frames, one for each table on the web page. You can access each data frame by its index, such as page[0] for the first table. This way, you can extract and analyze the data from the web page using Pandas.

In [3]:
page = pd.read_html('https://www.basketball-reference.com/leagues/NBA_2023_standings.html')

In [ ]:
# Get help on pd.read_html
help(pd.read_html)

# Quick Check of the Data We Imported

In [ ]:
print(page)

## Assignment 

Get data from https://en.wikipedia.org/wiki/National_Basketball_Association so we can analyze Arena Capacity.

### TODO

Create notebook stub for them to experiment with

### Solution

In [ ]:
import pandas as pd
page = pd.read_html('https://en.wikipedia.org/wiki/National_Basketball_Association')
print(page)

**Question**

What other data might be interesting for teenagers to analyze?

# Python Lists (Intro to Indexing)

Give some examples. Extract one of the tables from the `page` variable.

In [ ]:
for table in page:
    display(table)

# Playground

In [5]:
# Import libraries
import requests
import pandas as pd
import matplotlib.pyplot as plt

# Specify URL
url = "https://en.wikipedia.org/wiki/National_Basketball_Association"

# Read table data from HTML using pandas
dfs = pd.read_html(url)

# for n, df in enumerate(dfs):
#     print('Table', n, '\n\n', df)

print(dfs[3])
# # Select the data frame that contains the table with class "wikitable sortable"
# df = dfs[1]

# # Rename the columns
# df.columns = ["Team", "Division", "City", "Arena", "Capacity", "Joined"]

# # Drop the rows with NaN values
# df = df.dropna()

# # Convert capacity column to numeric values
# df["Capacity"] = pd.to_numeric(df["Capacity"].str.replace(",", ""))

# # Plot data frame as a bar chart
# df.plot(x="Team", y="Capacity", kind="bar", figsize=(15, 10), title="NBA Teams Capacity")
# plt.show()

              Division                    Team                    Location  \
    Eastern Conference      Eastern Conference          Eastern Conference
0             Atlantic          Boston Celtics       Boston, Massachusetts
1             Atlantic           Brooklyn Nets     New York City, New York
2             Atlantic         New York Knicks     New York City, New York
3             Atlantic      Philadelphia 76ers  Philadelphia, Pennsylvania
4             Atlantic         Toronto Raptors            Toronto, Ontario
5              Central           Chicago Bulls           Chicago, Illinois
6              Central     Cleveland Cavaliers             Cleveland, Ohio
7              Central         Detroit Pistons           Detroit, Michigan
8              Central          Indiana Pacers       Indianapolis, Indiana
9              Central         Milwaukee Bucks        Milwaukee, Wisconsin
10           Southeast           Atlanta Hawks            Atlanta, Georgia
11           Southeast       Charlotte Hornets   Charlotte, North Carolina
12           Southeast              Miami Heat              Miami, Florida
13           Southeast           Orlando Magic            Orlando, Florida
14           Southeast      Washington Wizards            Washington, D.C.
15  Western Conference      Western Conference          Western Conference
16           Northwest          Denver Nuggets            Denver, Colorado
17           Northwest  Minnesota Timberwolves      Minneapolis, Minnesota
18           Northwest   Oklahoma City Thunder     Oklahoma City, Oklahoma
19           Northwest  Portland Trail Blazers            Portland, Oregon
20           Northwest               Utah Jazz        Salt Lake City, Utah
21             Pacific   Golden State Warriors   San Francisco, California
22             Pacific    Los Angeles Clippers     Los Angeles, California
23             Pacific      Los Angeles Lakers     Los Angeles, California
24             Pacific            Phoenix Suns            Phoenix, Arizona
25             Pacific        Sacramento Kings      Sacramento, California
26           Southwest        Dallas Mavericks               Dallas, Texas
27           Southwest         Houston Rockets              Houston, Texas
28           Southwest       Memphis Grizzlies          Memphis, Tennessee
29           Southwest    New Orleans Pelicans      New Orleans, Louisiana
30           Southwest       San Antonio Spurs          San Antonio, Texas

                         Arena            Capacity  \
            Eastern Conference  Eastern Conference
0                    TD Garden               19156
1              Barclays Center               17732
2        Madison Square Garden               19812
3           Wells Fargo Center               20478
4             Scotiabank Arena               19800
5                United Center               20917
6   Rocket Mortgage FieldHouse               19432
7         Little Caesars Arena               20332
8        Gainbridge Fieldhouse               17923
9                 Fiserv Forum               17341
10            State Farm Arena               16600
11             Spectrum Center               19077
12               Kaseya Center               19600
13                Amway Center               18846
14           Capital One Arena               20356
15          Western Conference  Western Conference
16                  Ball Arena               19520
17               Target Center               18798
18               Paycom Center               18203
19                 Moda Center               19393
20                Vivint Arena               18306
21                Chase Center               18064
22            Crypto.com Arena               19079
23            Crypto.com Arena               19079
24            Footprint Center               16645
25             Golden 1 Center               17608
26    American Airlines Center               19200
27               Toyota Center               18055
28                  FedExForum               18119
29        Smoothie King Center               16867
30                 AT&T Center               18418

                                          Coordinates             Founded  \
                                   Eastern Conference  Eastern Conference
0   .mw-parser-output .geo-default,.mw-parser-outp...                1946
1    40¬∞40‚Ä≤58‚Ä≥N 73¬∞58‚Ä≤29‚Ä≥WÔªø / Ôªø40.68265¬∞N 73.974689¬∞W               1967*
2   40¬∞45‚Ä≤02‚Ä≥N 73¬∞59‚Ä≤37‚Ä≥WÔªø / Ôªø40.750556¬∞N 73.993611¬∞W                1946
3   39¬∞54‚Ä≤04‚Ä≥N 75¬∞10‚Ä≤19‚Ä≥WÔªø / Ôªø39.901111¬∞N 75.171944¬∞W               1946*
4   43¬∞38‚Ä≤36‚Ä≥N 79¬∞22‚Ä≤45‚Ä≥WÔªø / Ôªø43.643333¬∞N 79.379167¬∞W                1995
5   41¬∞52‚Ä≤50‚Ä≥N 87¬∞40‚Ä≤27‚Ä≥WÔªø / Ôªø41.880556¬∞N 87.674167¬∞W                1966
6   41¬∞29‚Ä≤47‚Ä≥N 81¬∞41‚Ä≤17‚Ä≥WÔªø / Ôªø41.496389¬∞N 81.688056¬∞W                1970
7      42¬∞20‚Ä≤28‚Ä≥N 83¬∞03‚Ä≤18‚Ä≥WÔªø / Ôªø42.341111¬∞N 83.055¬∞W               1941*
8   39¬∞45‚Ä≤50‚Ä≥N 86¬∞09‚Ä≤20‚Ä≥WÔªø / Ôªø39.763889¬∞N 86.155556¬∞W                1967
9   43¬∞02‚Ä≤37‚Ä≥N 87¬∞55‚Ä≤01‚Ä≥WÔªø / Ôªø43.043611¬∞N 87.916944¬∞W                1968
10  33¬∞45‚Ä≤26‚Ä≥N 84¬∞23‚Ä≤47‚Ä≥WÔªø / Ôªø33.757222¬∞N 84.396389¬∞W               1946*
11     35¬∞13‚Ä≤30‚Ä≥N 80¬∞50‚Ä≤21‚Ä≥WÔªø / Ôªø35.225¬∞N 80.839167¬∞W               1988*
12  25¬∞46‚Ä≤53‚Ä≥N 80¬∞11‚Ä≤17‚Ä≥WÔªø / Ôªø25.781389¬∞N 80.188056¬∞W                1988
13  28¬∞32‚Ä≤21‚Ä≥N 81¬∞23‚Ä≤01‚Ä≥WÔªø / Ôªø28.539167¬∞N 81.383611¬∞W                1989
14  38¬∞53‚Ä≤53‚Ä≥N 77¬∞01‚Ä≤15‚Ä≥WÔªø / Ôªø38.898056¬∞N 77.020833¬∞W               1961*
15                                 Western Conference  Western Conference
16  39¬∞44‚Ä≤55‚Ä≥N 105¬∞00‚Ä≤27‚Ä≥WÔªø / Ôªø39.748611¬∞N 105.0075¬∞W                1967
17  44¬∞58‚Ä≤46‚Ä≥N 93¬∞16‚Ä≤34‚Ä≥WÔªø / Ôªø44.979444¬∞N 93.276111¬∞W                1989
18     35¬∞27‚Ä≤48‚Ä≥N 97¬∞30‚Ä≤54‚Ä≥WÔªø / Ôªø35.463333¬∞N 97.515¬∞W               1967*
19  45¬∞31‚Ä≤54‚Ä≥N 122¬∞40‚Ä≤00‚Ä≥WÔªø / Ôªø45.531667¬∞N 122.666...                1970
20  40¬∞46‚Ä≤06‚Ä≥N 111¬∞54‚Ä≤04‚Ä≥WÔªø / Ôªø40.768333¬∞N 111.901...               1974*
21  37¬∞46‚Ä≤05‚Ä≥N 122¬∞23‚Ä≤15‚Ä≥WÔªø / Ôªø37.768056¬∞N 122.3875¬∞W               1946*
22  34¬∞02‚Ä≤35‚Ä≥N 118¬∞16‚Ä≤02‚Ä≥WÔªø / Ôªø34.043056¬∞N 118.267...               1970*
23  34¬∞02‚Ä≤35‚Ä≥N 118¬∞16‚Ä≤02‚Ä≥WÔªø / Ôªø34.043056¬∞N 118.267...               1947*
24  33¬∞26‚Ä≤45‚Ä≥N 112¬∞04‚Ä≤17‚Ä≥WÔªø / Ôªø33.445833¬∞N 112.071...                1968
25  38¬∞38‚Ä≤57‚Ä≥N 121¬∞31‚Ä≤05‚Ä≥WÔªø / Ôªø38.649167¬∞N 121.518...               1923*
26  32¬∞47‚Ä≤26‚Ä≥N 96¬∞48‚Ä≤37‚Ä≥WÔªø / Ôªø32.790556¬∞N 96.810278¬∞W                1980
27  29¬∞45‚Ä≤03‚Ä≥N 95¬∞21‚Ä≤44‚Ä≥WÔªø / Ôªø29.750833¬∞N 95.362222¬∞W               1967*
28  35¬∞08‚Ä≤18‚Ä≥N 90¬∞03‚Ä≤02‚Ä≥WÔªø / Ôªø35.138333¬∞N 90.050556¬∞W               1995*
29  29¬∞56‚Ä≤56‚Ä≥N 90¬∞04‚Ä≤55‚Ä≥WÔªø / Ôªø29.948889¬∞N 90.081944¬∞W               2002*
30    29¬∞25‚Ä≤37‚Ä≥N 98¬∞26‚Ä≤15‚Ä≥WÔªø / Ôªø29.426944¬∞N 98.4375¬∞W               1967*

                Joined  Unnamed: 8_level_0
    Eastern Conference  Eastern Conference
0                 1946                 NaN
1                 1976                 NaN
2                 1946                 NaN
3                 1949                 NaN
4                 1995                 NaN
5                 1966                 NaN
6                 1970                 NaN
7                 1948                 NaN
8                 1976                 NaN
9                 1968                 NaN
10                1949                 NaN
11               1988*                 NaN
12                1988                 NaN
13                1989                 NaN
14               1961*                 NaN
15  Western Conference  Western Conference
16                1976                 NaN
17                1989                 NaN
18               1967*                 NaN
19                1970                 NaN
20               1974*                 NaN
21               1946*                 NaN
22               1970*                 NaN
23                1948                 NaN
24                1968                 NaN
25                1948                 NaN
26                1980                 NaN
27               1967*                 NaN
28               1995*                 NaN
29               2002*                 NaN
30                1976                 NaN